<div class="clr-row">
  <div class="clr-col-lg-6 clr-col-12" *ngFor="let country of countries">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title"><b>{{country.name.common}}</b></h3>
        <div class="card-text">
          <img src={{country.flags.png}} style="width:250px;height:150px;">
          <p><b>Capital : </b>{{country.capital}}</p>
          <p><b>Country Code : </b>{{country.cca2}}</p>
          <p><b>AltSpellings : </b>{{country.altSpellings}}</p>
          <p><b>Region : </b>{{country.region}}</p>
          <p><b>Subregion : </b>{{country.subregion}}</p>
          <p><b>Population : </b>{{country.population}}</p>
          <p><b>Latitude, Longitude : </b>{{country.latlng}}</p>
          <p><b>Area : </b>{{country.area}}</p>
          <p><b>Timezones : </b>{{country.timezones}}</p>
          <p><b>Borders : </b>{{country.borders}}</p>
          <p><b>Currencies : </b></p>
          <div *ngFor="let object of country.currencies | keyvalue;let i = index">
            <b>{{i + 1}}.</b>
            {{ object.key }} - {{ object.value.name }} ({{ object.value.symbol }})
          </div>
          <p><b>Languages : </b></p>
          <div *ngFor="let object of country.languages | keyvalue;let i = index">
            <b>{{i + 1}}.</b>
            {{ object.key }} - {{ object.value }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
