#clr-form-control-1 {
    margin: auto;
    width: 100%;
    /* align-self: center;  */
    text-align: center;   
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  